@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://web.dev/building-a-color-scheme/ */
html {
    /* brand foundation */
    --brand-hue: 272;
    --brand-saturation: 72%;
    --brand-lightness: 47%;

    background-color: var(--surface-background);
    color: var(--text1);

    /* --primary: theme(colors.primary.600) */
}

.light {
  color-scheme: light;

  --brand: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
  --brand-light: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) + 3%));
  
  --text1: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text2: hsl(var(--brand-hue) 30% 30%);

  --surface-background: hsl(var(--brand-hue) 20% 92%);
  --surface-container: hsl(var(--brand-hue) 20% 99%);
  --surface-content: hsl(var(--brand-hue) 20% 96%);
  --surface-highlight: hsl(var(--brand-hue) 20% 85%);

  --border: hsl(var(--brand-hue) 10% 50% / 15%);
  --border-focus: hsl(var(--brand-hue) 40% 50% / 50%);
}

.dark {
  color-scheme: dark;

  --brand: hsl(
    var(--brand-hue) 
    calc(var(--brand-saturation) / 1.1)
    calc(var(--brand-lightness) / 1.1)
  );
  --brand-light: hsl(
    var(--brand-hue) 
    calc(var(--brand-saturation) / 1.1)
    calc(var(--brand-lightness) / 1.1 + 3%)
  );

  --text1: hsl(0 15% 95%);
  --text2: hsl(218 11% 65%);

  --surface-background: hsl(221 39% 11%);
  --surface-container: hsl(215 28% 17%);
  --surface-content: hsl(217 19%  27%);
  --surface-highlight: hsl(214, 13%, 34%);
  
  --border: hsl(217 19% 27%);
  --border-focus: hsl(217 19% 40%);
}

.surface-background {
  @apply bg-surface-background text-brand-subtleText;
}

.surface-container {
  @apply bg-surface-container text-brand-subtleText;
}

.surface-content { 
  @apply bg-surface-content text-brand-text;
}

.surface-highlight {
  @apply bg-surface-highlight text-brand-text;
}
